//base colors
$white:			 white;
$black:     	 black;

$grey-800: 	     #25272A;

$grey-300:       #E9EBED;
$grey-200:       #F4F5F6;
$grey-100:       #fffffa;

$blue-800:       #2C3F52;
$blue-500:       #0094DF;
$blue-300:       #6B7886;
$blue-200:       #ABB2BA;
$blue-100:       #B6C9D6;

$green-500:      #74C241;

$red-500:        #FF3B30;
$red-100:        #FFD8D6;

//Text
$color_text:	 $blue-800;
$color_title:	 $black;
$color_link:	 $blue-500;
$color_note:     $blue-300;

//Backgrounds
$bg_body:        $grey-100